doctype html
html
    head
        title Pug Test
        link(rel="stylesheet", type="text/css", href="style.css")
    body
        h1 Pug Test
        p Let's test this Pug thing!        
        p.red Right away!
